<section class="fw7fq9">
	<div class="lxwgdg">
		<div class="yf7tjk">
			<div class="dbjkj1">
				<img src="{{ asset('img/image-test.png') }}" alt="A propos de moi" class="toeusp">
			</div>
			<div class="aodjlb">
				<div class="zk2cf2 text-start">
					<header>
						<h2 class="zgnkt2">
							A propos de Lior Chamla
						</h2>
					</header>
					<div class="djnq1t">
						<div>
							Développeur web et formateur depuis plus de 13 ans, je forme les salariés et les étudiants sur des technologies telles que Symfony, React ou encore Angular !
						</div>
					</div>
                    <div class="wm8kpu">
                    <div class="zse2bl">
                    <a href="https://twitter.com/LiiorC" target="_blank" title="Twitter" service="twitter" class="sc-iuUfFv iuyVSc sc-jIyAiq gGJOJP">{% include "partials/svg/_linkedin.html.twig" %}</a>
                    </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
