{% extends 'base.html.twig' %}

{% block title %}Rendez-vous réservé
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="mb-4">Votre réservation a bien été prise en compte !</h1>
        <p>Un email de confirmation vous sera envoyé</p>
	</div>
{% endblock %}
